{% load static %}
<html>
    <head>
      <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'css/homepage.css'%}">
        <title>Spicy Games</title>
    </head>
    <body>
      <div id="topouter">
        <div id="topinner">
        <img src="../../static/images/logo.png"  class="teamlogo">
      </div>
    </div>
      <div id="center">
       <div id="topnavi">
        <ul id ="topnavili">
          <li id="team"><a href="/team">TEAM</a></li>
          <li>/</li>
          <li id="products"><a href="/products">PRODUCTS</a></li>
          <li>/</li>
          <li id="news"><a href="/news">BLOG</a></li>
          <li>/</li>
          <li id="contact"><a href="/contact">CONTACT</a></li>
        </ul>
       </div>
      </div>
    </body>
  </html>
