ul{
list-style-type:none;
}

.teamlogo{
  float: left;
}

#header{
  background-color: #393E46;
  height: 300;
}

#headerli{
  margin: 0;
  padding-top: 50;
}

#header li{
 font-size: 40px;
 display: inline-block;
}

#header a{
  text-decoration: none;
  color: #A4ABB5;
}

body{
  font-family:'Noto Sans JP' ,sans-serif;
	background-color: #555555;
  color: #A4ABB5;
  margin: 0;
	}

h1{
font-size: 48;
}

#content{
  clear: both;
  }

#sidebar{
  float: right;
  clear:both;
}

@media (max-width: 1000px) {
     #header li{
       font-size: 25;
     }
     
     #heading h1{
       font-size: 30;
     }

     #sidebar {
          float: none;
          margin: 0;
          width: auto;
     }
